<p>map works!</p>
<button class="btn btn-primary" (click)="fitbitAuth()"> click here to login with fitbit</button>
<!-- <div>
  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
  <TrainingCenterDatabase xmlns="http://www.garmin.com/xmlschemas/TrainingCenterDatabase/v2">
      <Activities>
          <Activity Sport="Other">
              <Id>2020-10-08T18:40:28.000-04:00</Id>
              <Creator xsi:type="Device_t" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <UnitId>0</UnitId>
                  <ProductID>0</ProductID>
              </Creator>
          </Activity>
      </Activities>
  </TrainingCenterDatabase>
</div> -->
